@import '../../styles/_colors.scss';
@import '../../styles/mixins';

.input-screen {
  background: $primary-background-blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 80px 40px 80px;

  &__player {
    @include lobby-content-wrapper;
  }

  &__player-card-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 33.5px;
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
