@import '../../styles/colors.scss';
@import '../../styles/mixins';

.homepage {
  @include message-screen;

  &__players_online {
    max-height: 39px;
    font-weight: 900;
    font-size: 32px;
    color: $btn-green;
    margin-bottom: 53px;
  }
}

@media (max-width: 425px) {
  .homepage {
    &__game-title {
      font-weight: 700;
      font-size: 56px;
    }

    &__players_online {
      font-weight: 400;
      font-size: 32px;
      margin-top: 0px;
    }
  }
}
