@import '../../styles/colors.scss';

.dividing-line {
  width: 405px;
  height: 2px;
  background: $btn-lightgray;
  margin: 32px;
}

.text-login {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.or {
  margin: 16px;
}

.already {
  padding-bottom: 16px;
}

.after-login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      color: $btn-green;
      font-weight: 900;
      font-size: 24px;
      text-transform: uppercase;
      padding-top: 42px;
      padding-bottom: 16px;
    }

    &__body {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 40px;
    }

    &__avatar {
      width: 48px;
      height: 48px;
      background-image: url(../../assets/avatars/avatar-profile.png);
    }

    &__name {
      font-weight: 500;
      font-size: 24px;
    }

    &__edit-icon {
      width: 24px;
      height: 24px;
      background-image: url(../../assets/icons/edit.svg);
    }
  }
}
