@import '../../styles/colors.scss';

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  color: $font-black;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  height: 48px;
}

.btn:disabled {
  background: $btn-lightgray;
  color: $font-gray;
}

.btn:hover {
  filter: brightness(80%);
}

.btn-green-solid {
  background: $btn-green;
}

.btn-pink-solid {
  background: $btn-pink;
}

.btn-yellow-solid {
  background: $btn-yellow;
  height: 67px;
}

.btn-lightgray-outline {
  background: $btn-lightgray;
  border: 4px solid $font-black;
}

.btn-blue-outline {
  border: 4px solid $main-font-color;
  background-color: $primary-background-blue;
  color: $main-font-color;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  width: 350px;
  height: 85px;
}

.btn-orange-solid {
  background: $btn-orange;
}

.btn-rounded {
  border-radius: 200px;
  width: 100%;
  height: 100%;
}

.btn-large {
  height: 67px;
}

.btn-half {
  width: 50%;
}

.btn-third {
  width: 30%;
}

.check-icon {
  width: 17px;
  height: 13px;
  background-image: url(../../assets/svg/check-icon-btn.svg);
}

.cross-icon {
  width: 14px;
  height: 14px;
  background-image: url(../../assets/svg/cross-icon-btn.svg);
}

.question-icon {
  width: 11px;
  height: 19px;
  background-image: url(../../assets/svg/question-icon-btn.svg);
}
