@import '../../styles/colors.scss';

.check-icon {
  width: 17px;
  height: 13px;
  background-image: url(../../assets/svg/check-icon-btn.svg);
}

.cross-icon {
  width: 14px;
  height: 14px;
  background-image: url(../../assets/svg/cross-icon-btn.svg);
}

.question-icon {
  width: 11px;
  height: 19px;
  background-image: url(../../assets/svg/question-icon-btn.svg);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  color: $font-black;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  height: 48px;
}

.lobby-green {
  background: $btn-green;
  height: 67px;
}

.btn:hover {
  font-size: 17px;
  filter: brightness(85%);
}

.btn-green-solid {
  background: $btn-green;
}
.btn-pink-solid {
  background: $btn-pink;
}
.btn-yellow-solid {
  background: $btn-yellow;
  height: 67px;
}
.btn:disabled {
  background: $btn-lightgray;
  color: $font-gray;
}
.btn-lightgray-outline {
  background: $btn-lightgray;
  border: 4px solid $font-black;
}

.btn-blue-outline {
  border: 4px solid $main-font-color;
  background-color: $primary-background-blue;
  color: $main-font-color !important;
  padding: 0 !important;
  font-weight: 400 !important;
  font-size: 32px !important;
  width: 350px;
  height: 85px !important;
}

.btn-leave-game {
  gap: 8px;
  width: 200px;
  height: 51px;
  background: $btn-pink;
  border-radius: 200px !important;
  font-weight: 700;

  @media screen and (max-width: 1280px) {
    .button_leave_game {
      gap: 6px;
      width: 160px;
      height: 45px;
    }
  }
}

.btn-orange-solid {
  background: $btn-orange;
}

.btn-half {
  width: 50%;
}

.btn-third {
  width: 30%;
}
