@import '../../../styles/colors';
@import '../../../styles/mixins';

.create-lobby-modal {
  @include font-normal;
  @include modal-container;

  &__title-container {
    @include modal-title-container;
  }

  &__title-container_title {
    @include font-big;
  }

  &__title-container_close-btn {
    @include modal-close-btn;
  }

  &__select-field,
  &__input-field {
    @include modal-input-field;
  }

  &__select-field {
    appearance: none;
    background: url('../../../assets/icons/arrow-down.svg') no-repeat;
    background-position: calc(100% - 32px) center;
  }

  &__checkbox {
    align-self: flex-start;

    input {
      position: absolute;
      opacity: 0;
    }

    label {
      cursor: pointer;

      &:before {
        content: '';
        display: inline-block;
        position: relative;
        top: 4px;
        left: 4px;
        width: 24px;
        height: 24px;
        margin-right: 20px;
        background: url('../../../assets/icons/checkbox.svg');
      }

      &.true:before {
        background: url('../../../assets/icons/checkbox-checked.svg');
      }
    }
  }

  &__create-container {
    @include modal-buttons-container;
  }

  &__cancel-btn {
    @include modal-cancel-btn;
  }
}
