@import '../../styles/colors';

.inactivity-kick-message {
  max-width: 900px;
  max-height: 39px;
  font-weight: 900;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 32px;
  color: $font-yellow;
}
