@import '../../../styles/colors';
@import '../../../styles/mixins';

.guess-character-modal {
  @include font-normal;
  @include modal-container;

  &__title-container {
    @include modal-title-container;
  }

  &__title-container_title {
    @include font-big;
  }

  &__title-container_close-btn {
    @include modal-close-btn;
  }

  &__timer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-background-blue;
  }

  &__timer-container_name {
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
  }

  &__timer-container_timer {
    font-weight: 900;
    font-size: 24px;
    margin: 0px;
  }

  &__players-guess {
    @include modal-input-field;
  }

  &__guess-container {
    @include modal-buttons-container;
  }
}
