@import '../../styles/_colors.scss';

.player-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $main-font-color;
  font-family: 'Inter';
  margin-bottom: 30px;
}

.player {
  display: flex;
  align-items: center;

  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
  }
  .avatar01 {
    background-image: url(../../assets/avatars/avatar01.png);
  }
  .avatar02 {
    background-image: url(../../assets/avatars/avatar02.png);
  }
  .avatar03 {
    background-image: url(../../assets/avatars/avatar03.png);
  }
  .avatar04 {
    background-image: url(../../assets/avatars/avatar04.png);
  }

  .player-name {
    margin-right: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  .player-decription {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: $font-black;
    background: #00faac;
    border-radius: 200px;
    padding: 16px 32px;
  }
}

.player-status {
  width: 40px;
  height: 40px;
  border-radius: 200px;
}

.wait {
  background-image: url(../../assets/svg/question-mark.svg);
}
.yes {
  background-image: url(../../assets/svg/check.svg);
}
.no {
  background-image: url(../../assets/svg/x.svg);
}
.d-none {
  display: none;
}
