@import '../../styles/colors.scss';

.button_leave_game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 184px;
  height: 51px;
  background: $btn-pink;
  border: none;
  border-radius: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: $font-black;
}

@media screen and (max-width: 1280px) {
  .button_leave_game {
    gap: 6px;
    width: 160px;
    height: 45px;
  }
}
