.game-title {
  max-width: 450px;
  max-height: 97px;
  font-weight: 900;
  font-size: 80px;
  line-height: 96px;
  margin-bottom: 20px;
}

.small {
  font-size: 32px;
  margin-bottom: 0px;
  line-height: 38px;
}

@media (max-width: 425px) {
  .game-title {
    font-weight: 700;
    font-size: 56px;
  }
}
