@import '../../styles/colors.scss';

.game-title {
  max-width: 425px;
  max-height: 97px;
  font-weight: 900;
  font-size: 80px;
}

@media (max-width: 425px) {
  .game-title {
    font-weight: 700;
    font-size: 56px;
  }
}
