@import '../../styles/mixins';
@import '../../styles/colors';

.main-lobby {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 32px;
  margin-top: 20px;
  padding: 24px;
  width: 1280px;
  background-color: $secondary-background-blue;
  border-radius: 16px;
}
