$primary-background-blue: #302387;
$secondary-background-blue: #1e1274;
$main-font-color: #fffaff;
$btn-green: #00faac;
$btn-pink: #ff59b3;
$font-black: #1e1b18;
$font-yellow: #fffdaf;
$modals-background: #fafafa;
