@import '../../styles/colors.scss';

.input_field {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 32px;
  width: 80%;
  height: 77px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background: $modals-background;
  border: 4px solid $primary-background-blue;
  border-radius: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}

.btn_ask {
  width: 20%;
  border: none;
  background: $btn-green;
}

.btn_guess {
  width: 100%;
  border: none;
  background: #fffdaf;
}

@media screen and (max-width: 1280px) {
  .input_field {
    padding: 16px 24px;
    height: 55px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .btn {
    gap: 30px;
    height: 48px;
  }
}
