@import '../../styles/colors.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .input_field {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 24px 32px;
    width: 80%;
    height: 77px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: $modals-background;
    border: 4px solid $primary-background-blue;
    border-radius: 8px;
  }

  .row {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 16px;
  }

  .btn_ask {
    width: 20%;
    height: 100%;
    max-height: 67px;
    border: none;
    background: $btn-green;
  }

  .btn_guess {
    width: 100%;
    border: none;
    background: $font-yellow;
  }
}
