@import '../../styles/colors.scss';

@mixin waiting-msg {
  max-width: 700px;
  max-height: 39px;
  font-weight: 900;
  font-size: 24px;
  margin-top: 3px;
}

.loading {
  background-color: $primary-background-blue;
  color: $main-font-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__waiting-message {
    @include waiting-msg();

    color: $font-yellow;
  }

  &__queue-number {
    @include waiting-msg();

    color: $btn-green;
  }

  &__clip-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__clip-container_start {
    margin-bottom: 0px;
    max-height: 19px;
    font-weight: 500;
    font-size: 16px;
  }

  &__clip-container_timer {
    font-weight: 900;
    font-size: 52px;
    max-height: 58px;
    max-width: 177px;
  }
}
