@import '../../styles/colors.scss';

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 37px;
  background: $primary-background-blue;
  color: $main-font-color;
  padding-bottom: 40px;
}

.content_wrapper {
  width: 1280px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 32px;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .layout {
    padding-bottom: 32px;
  }
}
