@import '../../styles/colors.scss';

* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
  padding: 30px 80px;
  background: $primary-background-blue;
}

.content_wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 32px;
  overflow: hidden;
}
