@import '../../../styles/colors';
@import '../../../styles/mixins';

.join-lobby-modal {
  @include font-normal;
  @include modal-container;

  &__title-container {
    @include modal-title-container;
  }

  &__title-container_title {
    @include font-big;
  }

  &__title-container_close-btn {
    @include modal-close-btn;
  }

  &__input-field {
    @include modal-input-field;

    &.error {
      border: 4px solid $btn-pink;
    }
  }

  &__create-container {
    @include modal-buttons-container;
  }

  &__cancel-btn {
    @include modal-cancel-btn;
  }

  .error-message {
    margin-top: -24px;
    padding-left: 27px;
    color: $btn-pink;
  }
}
