@import '../../styles/colors.scss';

.game-header {
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 0px;
  color: $modals-background;
  margin-bottom: 24px;

  &__leave-btn-wrapper {
    width: 184px;
    height: 51px;
  }
}

@media screen and (max-width: 1280px) {
  .game-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}
