@import '../../styles/colors.scss';

.input-player {
  background: $secondary-background-blue;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border-radius: 8px;
  padding: 24px;

  .player-card-wrapp {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .btn-wrapp {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
