@import '../../styles/colors.scss';

@mixin btn-big {
  max-height: 51px;
  border-radius: 4px;
  font-weight: 900;
  font-size: 16px;
  padding: 16px 0% 16px 0%;
}

.leave-game-btn {
  background-color: $btn-pink;
  color: $font-black;
  border: none;
  width: 100%;
  cursor: pointer;
}

.leave-game-btn:hover {
  background-color: $btn-green;
  color: $secondary-background-blue;
}

.loading-page {
  @include btn-big();

  max-width: 580px;
  margin-top: 32px;
}

.lobby-page {
  @include btn-big();

  max-width: 1230px;
}

.game-page {
  max-width: 184px;
  max-height: 51px;
  padding: 16px 40px 16px 40px;
  border-radius: 25px;
  font-weight: 700;
}
