@import '../../styles/colors.scss';

.set-game-status-btn {
  border: 4px solid $main-font-color;
  border-radius: 4px;
  background-color: $primary-backgroung-blue;
  color: $main-font-color;
  padding: 24px;
  font-weight: 400;
  font-size: 32px;
  cursor: pointer;
}

.set-game-status-btn:hover {
  background-color: $secondary-background-blue;
  border: 4px solid $btn-green;
}

@media (max-width: 425px) {
  .set-game-status-btn {
    padding: 16px;
    font-weight: 300;
    font-size: 24px;
  }
}
