@import './styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap');

@font-face {
  font-family: 'Inter';
  src: url(/assets/fonts/Inter/static/Inter-Regular.ttf) format('ttf');
  font-style: normal;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
  color: $modals-background;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $secondary-background-blue;
}

::-webkit-scrollbar-thumb {
  background: $primary-background-blue;
  border-radius: 200px;
  transition-property: border;
  transition-duration: 1s;
}

@media screen and (max-width: 1280px) {
  ::-webkit-scrollbar {
    width: 6px;
  }
}

.d-none {
  display: none;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 842px;
  gap: 32px;
  padding-top: 32px;
}

.btn-form-wrapper {
  display: flex;
  gap: 32px;
  width: 100%;
}

.subtitle {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}
