@import '../../styles/colors.scss';

.container {
  padding: 0 80px;
}

.input-screen {
  background: $primary-background-blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 31px 0 24px 0;
}

.title {
  color: $main-font-color;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}


